node_modules
dist
dist.zip
dist-chrome
levels-compiled.json
firefox.zip
chrome.zip
/firefox
/chrome
.levels.json
src/phonegap/www/res/screen
src/phonegap/www/res/icon
src/chrome/icons
src/firefox/icons
src/phonegap/www/dist
