services:
    web:
        container_name: roadblocks.kyd.au
        build: .
        volumes:
            - ./data:/data
            - ./logs:/logs
        restart: always
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.roadblocks.rule=Host(`roadblocks.kyd.au`)"
            - "traefik.http.routers.roadblocks.entrypoints=websecure"
            - "traefik.http.routers.roadblocks.tls.certresolver=le"
            - "traefik.http.services.roadblocks.loadbalancer.server.port=80"
            - "traefik.docker.network=traefik_default"
        networks:
            - traefik_default

networks:
    traefik_default:
        external: true

volumes:
    data:
